@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CI - CD Training</h1>
    <h1 class="display-4">By Ijeoma Akinosho</h1>
     <h1 class="display-4">come and be your best!</h1>
    
 
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">You can do this!</a>.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">This is quite interesting and lovingly</a>.</p>
</div>
